<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.ljordan.gamemanager"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
    	<uses-library android:name="com.google.android.maps" />
    	
        <activity android:name=".GameManager"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
		<activity android:name=".TopTenActivity"  android:label="Top Ten Scores!" />
		<activity android:name=".UsersOfGameActivity"  android:label="Top Scores For User of Game" />
		<activity android:name=".UsersLocationActivity"  android:label="Location of Best Players" />
		
		UserAndGameActivity
    </application>

	<uses-permission android:name="android.permission.INTERNET" />

</manifest> 